<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Please choose the file type </h2>

<button (click)="loadFileTypes()">Choose</button>


<div *ngIf="showflag">
  <form #projectForm="ngForm">
    <input type="checkbox" name="vehicle1" value="Bike" (click)="checkAll($event)">Check all
    <ul>
      <li *ngFor="let item of items; let i = index">
        <label *ngIf="item.type!='head'">
          <input type="checkbox" name="fileType" [checked]="item.selected" (click)="isAnswerProvided($event, item)"
            value="{{item.filename}}"> {{item.filename}}
        </label>
      </li>
    </ul>
    <button>Cancell</button>
    <button [disabled]="!projectForm.form.valid" (click)="writeFileTypes()">Save</button>
  </form>
</div>